




<app-nav-bar xmlns="http://www.w3.org/1999/html"  (addEmployeeEvent)="onOpenModal($event)"></app-nav-bar>
  <div class="container-fluid" id="app-container">


    <div class="row" >
      <div class="col-sm-3" *ngFor="let employee of employees">
        <app-employee-card [employee]="employee" (editEvent)="onOpenModal($event)" (deleteEvent) = "onOpenModal($event)"></app-employee-card>
      </div>


    </div>





    <dialog id = "deleteModal" >
      <div class="card border-0">
      <app-delete-modal  (closeEvent)="onCloseModal($event)" (confirmEvent)="deleteEmployee()" ></app-delete-modal>
      </div>
    </dialog>

    <dialog id = "editModal">
      <div class="card border-0">
      <app-edit-modal [employee]="tempEmployee" (closeEvent)="onCloseModal($event)" (confirmEvent)="editEmployee($event.employee)"></app-edit-modal>
        </div>
    </dialog>

    <dialog id = "addModal" class="w-50 p-3" >
      <div class="card border-0 ">
        <app-add-modal (closeEvent)="onCloseModal($event)" (confirmEvent)="addEmployee($event)"></app-add-modal>
      </div>
    </dialog>

  </div>

