<app-nav-bar xmlns="http://www.w3.org/1999/html"></app-nav-bar>
  <div class="container-fluid" id="app-container">

    <div class="row" >
      <div class="col-sm-3">
        <app-employee-card></app-employee-card>
      </div>
      <div class="col-sm-3">
        <app-employee-card></app-employee-card>
      </div>
      <div class="col-sm-3">
        <app-employee-card></app-employee-card>
      </div>
      <div class="col-sm-3">
        <app-employee-card></app-employee-card>
      </div>
    </div>


    <!-- Button to Open the Modal -->
    <button type="button" class="btn btn-primary" (click)="onOpenModal()">
      Open modal
    </button>

    <dialog id = "myModal" >
      <app-delete-modal></app-delete-modal>
    </dialog>


    <!-- The Modal -->
    <div class="modal" >
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Modal Heading</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            Modal body..
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>


  </div>

