<div class="card mb-4" >
  <img src="https://media.istockphoto.com/photos/headshot-portrait-of-smiling-male-employee-in-office-picture-id1309328823?k=20&m=1309328823&s=612x612&w=0&h=RqA2lYygvOxisNPp6UwFjz7bCw_rYITJMqFTMSrhpis=" class="card-img-top" alt="employee profile pic">
  <div class="card-body">
    <h4 class="card-title fw-bold text-primary ">{{name}}</h4>

    <ul class="list-group list-group-flush ">
      <li class="list-group-item text-secondary ">JOB TITLE : {{jobTitle}}</li>
      <li class="list-group-item text-secondary">EMAIL : {{email}}</li>
      <li class="list-group-item text-secondary">EMPLOYEE CODE : {{employeeCode}}</li>
      <li class="list-group-item text-secondary"></li>


    </ul>

    <div class = row >
      <div class="col-md-3">
        <button type="button" class="btn btn-outline-secondary" data-bs-toggle = "modal" data-bs-target="#modaaal"> Edit </button>
      </div>
      <div class="col-md-3">
        <button type="button" class="btn btn-outline-secondary">Delete</button>
      </div>






  </div>
</div>
</div>

