<div class="card mb-4" >
  <img [src]="employee.imageUrl" class="card-img-top" alt="employee profile pic">
  <div class="card-body">
    <h4 class="card-title fw-bold text-primary ">{{employee.name}}</h4>

    <ul class="list-group list-group-flush ">
      <li class="list-group-item text-secondary ">JOB TITLE : {{employee.jobTitle}}</li>
      <li class="list-group-item text-secondary">EMAIL : {{employee.email}}</li>
      <li class="list-group-item text-secondary">EMPLOYEE CODE : {{employee.employeeCode}}</li>
      <li class="list-group-item text-secondary"></li>


    </ul>

    <div class = row >
      <div class="col-md-3">
        <button type="button" class="btn btn-outline-secondary" (click)="onEdit()"> Edit </button>
      </div>
      <div class="col-md-3">
        <button type="button" class="btn btn-outline-secondary" (click)="onDelete()">Delete</button>
      </div>






  </div>
</div>
</div>

