<h2 class="text-primary" xmlns="http://www.w3.org/1999/html">Add Employee:</h2>
<hr style="border-color: #0D6EFD">

<form class="row g-3">
  <div class="col-md-6">
    <label for="inputName" class="form-label text-primary">Employee Name</label>
    <input type="text"   class="form-control roundedElement" id="inputName" #name>
  </div>
  <div class="col-md-6">
    <label for="inputJobTitle" class="form-label text-primary">Job Title</label>
    <input type="text"   class="form-control roundedElement" id="inputJobTitle" #jopTitle>
  </div>

  <div class="col-12">
    <label for="inputEmail" class="form-label text-primary" >Email</label>
    <input type="email"  class="form-control roundedElement" id="inputEmail" #email >
  </div>
  <div class="col-12">
    <label for="inputImageUrl" class="form-label text-primary">Image Url</label>
    <input type="text"  class="form-control roundedElement" id="inputImageUrl" #imageUrl >
  </div>

  <div class="col-12">
  <label for="inputCode" class="form-label text-primary">Employee Code</label>
  <input type="text"  class="form-control roundedElement" id="inputCode" #employeeCode >
  </div>


  <div class="mt-3">
    <hr style="border-color: #0D6EFD">
  </div>
  <div class="col-md-2">
    <button type="button" class="btn btn-outline-primary roundedElement btn-sm" (click)="onClose()">Close</button>
  </div>

  <div class="col-md-2">
    <button type="button" class="btn btn-outline-primary roundedElement btn-sm" (click)="onConfirm(name.value,jopTitle.value,email.value,imageUrl.value,employeeCode.value)" >Confirm</button>
  </div>




</form>
