<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="container">
  <div class="row">

<!-- green card -->

<div class="col-md-4 col-xl-3">
  <div class="card bg-success order-card">
    <div class="card-block">


      <div class="row">
        <div class = "col-md-8">
          <i class="fa fa-check-circle"aria-hidden="true"></i>
          <span class="fs-5 ms-2">200 Response</span>
        </div>

        <div class = "col-md-4">
          <h3 class="float-end">{{info[0].length}}</h3>
        </div>

      </div>

      <div class="row">
        <div class = "col-md-4">
          <span class="float-start ms-2">Updated:</span>
        </div>

        <div class = "col-md-8">
          <span class="float-end">10-8-2022:10.59 pm</span>
        </div>

      </div>

    </div>
  </div>
</div>

<!-- ------------------------------------------------------------------------------------------------- -->


    <!-- blue card -->

    <div class="col-md-4 col-xl-3">
      <div class="card bg-primary order-card">
        <div class="card-block">


          <div class="row">
            <div class = "col-md-8">
              <i class="fa fa-ban" aria-hidden="true"></i>
              <span class="fs-5 ms-2">404 Response</span>
            </div>

            <div class = "col-md-4">
              <h3 class="float-end">13</h3>
            </div>

          </div>

          <div class="row">
            <div class = "col-md-4">
              <span class="float-start ms-2">Updated:</span>
            </div>

            <div class = "col-md-8">
              <span class="float-end">10-8-2022:10.59 pm</span>
            </div>

          </div>

        </div>
      </div>
    </div>

    <!-- ------------------------------------------------------------------------------------------------- -->


      <!-- yellow card -->

    <div class="col-md-4 col-xl-3">
      <div class="card bg-warning order-card">
        <div class="card-block">


          <div class="row">
            <div class = "col-md-8">
              <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
              <span class="fs-5 ms-2">400 Response</span>
            </div>

            <div class = "col-md-4">
              <h3 class="float-end">20</h3>
            </div>

          </div>

          <div class="row">
            <div class = "col-md-4">
              <span class="float-start ms-2">Updated:</span>
            </div>

            <div class = "col-md-8">
              <span class="float-end">10-8-2022:10.59 pm</span>
            </div>

          </div>

        </div>
      </div>
    </div>

    <!-- ------------------------------------------------------------------------------------------------- -->


    <!-- yellow card -->

    <div class="col-md-4 col-xl-3">
      <div class="card bg-danger order-card">
        <div class="card-block">


          <div class="row">
            <div class = "col-md-8">
              <i class="fa fa-bug" aria-hidden="true"></i>
              <span class="fs-5 ms-2">500 Response</span>
            </div>

            <div class = "col-md-4">
              <h3 class="float-end">3</h3>
            </div>

          </div>

          <div class="row">
            <div class = "col-md-4">
              <span class="float-start ms-2">Updated:</span>
            </div>

            <div class = "col-md-8">
              <span class="float-end">10-8-2022:10.59 pm</span>
            </div>

          </div>

        </div>
      </div>
    </div>

    <!-- ------------------------------------------------------------------------------------------------- -->





  </div>
</div>
